	.slider-hor .noUi-tooltip { color:black; 
		float:top; top:0em; z-index:2; align-items:center; 
		border:1px solid #8f8f8f; border-radius:3px; background:#fff;
		font-size:0.85em; font-family:arial; width:2.6em; height:2.2em;
	}	
