	.slider-ver .noUi-tooltip { color:black; 
		text-align:center; float:left; left:-0.3em; z-index:2;			
		border:1px solid #8f8f8f; border-radius:3px; background:#fff;
		font-size:0.7em; font-family:arial; width:2.7em; height:2.2em;  
	}	
