	.slider-ver .noUi-tooltip { color:red; 
		text-align:left; float:left; left:-0.4em; z-index:2;			
		border:1px solid #8f8f8f; border-radius:3px; background:#fff;
		font-size:0.6em; font-family:arial; width:3.55em; height:2.45em; 
	}	