	.slider-hor .noUi-tooltip { color:red; 
		float:top; top:-0.1em; z-index:2; align-items:center; 
		border:1px solid #8f8f8f; border-radius:3px; background:#fff;
		font-size:0.71em; font-family:arial; width:2.45em; height:2.1em;
	}	